@keyframes scroll-empresas {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.333%);
    }
}

.empresas-track {
    animation: scroll-empresas 20s linear infinite;
}