body {
    font-family: var(--font-base);
    background-color: var(--bg-primario);
    color: var(--texto-primario)
}

header {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: var(--espaco-md);
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero h1 {
    font-family:var(--fonte-destaque);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

#hero p {
    font-family: var(--fonte-base);
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 15px;
    color:var(--texto-secundario);
}

#hero a {
    background-color: var(--verde-acao);
    padding:12px 28px;
    border-radius: var(--radius-botao);
    color: var(--bg-primario);  /*Preferi utilizar uma cor mais escura por causa do contraste com o verde.*/
    font-size: 1rem; /*Me abtuando a utilizar mais a medida rem.*/
    font-family: var(--fonte-base);
    font-weight: 500;
}

#quem-somos {
    padding: var(--espaco-xl);
    text-align: center;
}

#quem-somos h2 {
    font-family: var(--fonte-destaque);
    font-size: 2rem;
}

#quem-somos p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    font-family: var(--fonte-base);
    color:var(--texto-secundario);
}



